{% load static %}
<!DOCTYPE html>
<html>
    
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="{% static 'productos/lista.css' %}">
</head>
<body>

    <!-- Header -->
    <header>
        <nav>
            <div class="logo">Categorias</div>
            <ul class="nav-links">
                <li><a href="{% url 'landingpage' %}">Inicio</a></li>
                <li><a href="{% url 'lista_productos' %}">Productos</a></li>
                <li><a href="{% url 'listar_categorias' %}">Categorias</a></li>
                <li><a href="{% url 'Nosotros' %}">Nosotros</a></li>
            </ul>
        </nav>
    </header>

    

    <!--Categorias-->
    <h1>Categorias</h1>
    <a href="{% url 'crear_categoria' %}">➕ Crear categoria</a>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
        {% for c in categorias %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.descripcion }}</td>
            <td>
                <a href="{% url 'editar_categoria' c.id %}">✏️ Editar</a>    
                <a href="{% url 'eliminar_categoria' c.id %}">🗑️ Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
