{% load static %}
<!DOCTYPE html>
<html>
    
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="{% static 'categorias/lista.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo-container">
            <div class="logo">🐄</div>
            <div class="brand-text">
                <h1>Muuu y Más</h1>
                <p>Lácteos Premium</p>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'landingpage' %}">Inicio</a></li>
            <li><a href="{% url 'lista_productos' %}">Productos</a></li>
            <li><a href="{% url 'listar_categorias' %}">Categorias</a></li>
            <!--Esto lo que hace es que si no has iniciado sesion te muestra login, si ya iniciaste sesion te muestra logout-->
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        <!-- Este boton se necesitara para la parte de compras (Retirar de landing page)
        <button class="cart-btn">🛒</button>-->
    </nav>

    <!--Categorias-->
    <h1>Categorias</h1>

    {% if user.is_authenticated and user.rol == "admin" %}
    <a href="{% url 'crear_categoria' %}">➕ Crear categoria</a>
    {% endif %}

    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
        {% for c in categorias %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.descripcion }}</td>
            <td>
                {% if user.is_authenticated and user.rol == "admin" %}
                <a href="{% url 'editar_categoria' c.id %}">✏️ Editar</a>    
                <a href="{% url 'eliminar_categoria' c.id %}">🗑️ Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
