/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    background-color: #99160d;
    padding: 15px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Esta es la parte del header de las 3 opciones */
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffe600;
}



.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #e4c127;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero .btn:hover {
    background-color: #ffd500;
}

/* Productos */
.productos {
    padding: 50px 20px;
    text-align: center;
}

.productos h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f8f8;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 80%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 10px 0;
}

.card p {
    padding: 0 15px 20px 15px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    /*Aqui se cambia de arriba parra abajo la linea negra*/
    margin-top: 198px;
}