<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos lacteos</title>
</head>
<body>
    <h1>PAGINA WEB PARA VENTA DE PRODUCTOS LACTEOS</h1>
    <h1><marquee>ARRIBA LAS CHIVAAAAS!!!</marquee></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Impedit quam molestiae quibusdam at illum recusandae,
          et reiciendis, laudantium asperiores esse veniam? Vero aperiam,
           repellat quis quo omnis officia cupiditate recusandae?</p>
</body>
</html>