<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="{% static 'CSS/Nosotros.css' %}">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav>
            <div class="logo">Equipo de desarrollo</div>
            <ul>
                <li><a href="{% url 'landingpage' %}">Inicio</a></li>
                <li><a href="{% url 'Nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        
    </section>

    <!-- Productos -->
    <section id="productos" class="productos">
        <h2>Equipo de desarrollo de software</h2>
        <div class="cards">
            <div class="card">
                <img src="{% static 'IMG/jova.jpeg' %}" alt="Jovanny Martinez">
                <h3>Jovanny Martinez</h3>
                <p>Desarrador Front-end, QA Engineer</p>
            </div>
            
            <div class="card">
                <img src="{% static 'IMG/Alexbien.jpg' %}" alt="Alexis Sepulveda">
                <h3>Alexis Sepulveda</h3>
                <p>Desarrolador Front-end, Ingeniero DevOps</p>
            </div>

            <div class="card">
                <img src="{% static 'IMG/derian.jpeg' %}" alt="Derian Jimenez">
                <h3>Derian Jimenez</h3>
                <p>Desarrollador Back-end, Arquitecto de bases de datos</p>
            </div>

            <div class="card">
                <img src="{% static 'IMG/chat.png' %}" alt="chatgpt">
                <h3>Chat GPT</h3>
                <p>Desarrollador Full Stack, arquitecto de software, QA Enginer, DevOps Enginer, UX/UI Desingner, Analista de negocio, Ing. Seguridad, 
                    Administrador de bases de datos, DataAnalyst, Project Manager, Soporte tecnico, Documentador tecnico, comunicador tecnico, mentor,
                    Lic. Psicologia.
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Lechería Online. Todos los derechos reservados.</p>
    </footer>
</body>
</html>